@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700;800&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "Space Mono", monospace;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #CCFF00;
  color: #000000;
}

::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
